/**
 *
 */

.desc_line {

}
.desc_key {
	display:				inline-block;
	font-weight:			bold;
	width: 					120px;
}
.desc_value {
	display:				inline-block;
}

.block {
	margin-top:				30px;
}

.package_runs_menu {
	margin:					auto;
}

.package_runs_menu_element {
	display:                inline-block;
}
.current_run {
	text-decoration:		none;
	font-weight:            bold;
}

@lightgrey:					#DEDEDE;
tr.pending {
	background-color:		@lightgrey;
}
tr.finished {
	background-color:		#7FFF00;
}
tr.running {
	background-color:		#ffad33;
}
