{% extends "base.html" %}

{% block title %}Package Group {{group.name}}{% endblock %}

{% block content %}

    <div class='block'>
        <h1>Package Group {{group.name}}</h1>
        <div class='desc_line'>
            <div class='desc_key'>ID</div>
            <div class='desc_value'>{{group.id}}</div>
        </div>
        <div class='desc_line'>
            <div class='desc_key'>Name</div>
            <div class='desc_value'>{{group.name}}</div>
        </div>
        <div class='desc_line'>
            <div class='desc_key'>Maintainer</div>
            <div class='desc_value'><a href='{{info.maintainer_link}}'>{{group.maintainer.name}}</a></div>
        </div>
        <div class='desc_line'>
            <div class='desc_key'>Repository</div>
            <div class='desc_value'><a href='{{group.repo_url}}'>{{group.repo_url}}</a></div>
        </div>
        <div class='desc_line'>
            <div class='desc_key'>Suites:</div>
            <div class='desc_value'>
            {% for gs in group.suites %}
                {{gs.suite.name}}
            {% endfor %}
            </div>
        </div>
        {% for gs in group.suites %}
            <div class='desc_line'>
                <div class='desc_key'>{{gs.suite.name}} Components</div>
                <div class='desc_value'>
                    {% for component in gs.components %}
                        {{component.name}}
                    {% endfor %}
                </div>
            </div>
            <div class='desc_line'>
                <div class='desc_key'>{{gs.suite.name}} Architectures</div>
                <div class='desc_value'>
                    {% for arch in gs.arches %}
                        {{arch.name}}
                    {% endfor %}
                </div>
            </div>
            <div class='desc_line'>
                <div class='desc_key'>{{gs.suite.name}} Checks</div>
                <div class='desc_value'>
                    {% for check in gs.checks %}
                        {{check.name}}
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>

    <div class='block'>
        <h3>Sources in Package Group {{group.name}}</h3>
        {% if info.prev_link %}<a class='left' href='{{info.prev_link}}'>previous page</a>{% endif %}
        {% if info.next_link %}<a class='right' href='{{info.next_link}}'>next page</a>{% endif %}
        <div class = 'clear' ></div>
        {% include "source_list_fragment.html" %}
    </div>

{% endblock %}
