{% extends "base.html" %}

{% block title %}Hacker{% endblock %}

{% block content %}
<h1>{{hacker.name}}</h1>

{{hacker.name}}'s GPG key is <code>{{hacker.gpg_fingerprint}}</code>.

<h2>Upload your source package to debile</h2>
Follow our one-minute-very-easy-even-for-noobs setup guide.
<ul>
    <li>Install dput-ng</li>
    <li>Copy the following in your <strong>~/.dput.d/profiles/debile.json</strong></li>
</ul>
<pre>
{{dput_upload_profile}}
</pre>

<h2>Repositories of packages</h2>
Choose to add one of the following mirrors to <strong>/etc/apt/sources.list.d/debile.list</strong>
<pre>
{{apt_binary_list}}
</pre>

<h2>Source repository</h2>
Add the following mirrors to <strong>/etc/apt/sources.list.d/debile.list</strong>
<pre>
{{apt_source_list}}
</pre>
{% endblock %}
