{% extends "base.html" %}

{% block title %}Debile Web{% endblock %}

{% block content %}
<h1>Groups</h1>
{% include "group_list_fragment.html" %}

<h1>Builders</h1>
{% include "builder_list_fragment.html" %}

<h1>Jobs</h1>
List all <a href='/jobs/recent'>recently uploaded</a> jobs<br />
List all <a href='/jobs/unfinished'>unfinished</a> jobs ({{info.unfinished_jobs}})<br />
List all <a href='/jobs/queued'>queued</a> jobs ({{info.queued_jobs}})<br />
List all <a href='/jobs/unbuilt'>unbuilt</a> jobs ({{info.unbuilt_jobs}})<br />
List all <a href='/jobs/failed'>failed</a> jobs ({{info.failed_jobs}})<br />

<h1>Sources</h1>
List all <a href='/sources/recent'>recently uploaded</a> source packages<br />
List all source packages with <a href='/sources/unfinished'>unfinished</a> jobs ({{info.unfinished_sources}})<br />
List all source packages with <a href='/sources/queued'>queued</a> jobs ({{info.queued_sources}})<br />
List all source packages with <a href='/sources/unbuilt'>unbuilt</a> jobs ({{info.unbuilt_sources}})<br />
List all source packages with <a href='/sources/failed'>failed</a> jobs ({{info.failed_sources}})<br />

<h3>Browse Sources by Prefix:</h3>
{% for prefix in prefixes %}
    <a href="/sources/{{prefix}}">{{prefix}}</a>
{% endfor %}

<h3>Search Sources</h3>
{% include "search.html" %}

{% endblock %}
