{% extends "base.html" %}

{% import "macros.inc.html" as macros %}

{% block title %}About{% endblock %}

{% block content %}

This experimental infrastructure aims to provide a generic rebuild platform.<br />
Normal build, custom builds (clang based) or static analyzers (coccinelle, scan-build, etc) are managed through this infrastructure.<br /><br />

<b>Work in progress</b>
{% include "search.html" %}
<br />

<h1>Active Jobs</h1>

    {% include "job_list_fragment.html" %}

<h1>Pending jobs</h1><br />
There are currently {{pending_jobs}} jobs to assign.<br />
<br />
Browse by prefix:
{{ macros.render_packages_prefixes(packages_prefixes) }}
<br />
<br />Last 
<a href = '/sources' >uploads</a>



{% endblock %}
