{% extends "base.html" %}

{% block title %}{{job.source.name}}/{{job.source.version}} {{job.name}}{% endblock %}

{% block content %}

    <div class='block'>
        <h1>{{job.source.name}}/{{job.source.version}} {{job.name}}</h1>
        <div class='desc_line'>
            <div class='desc_key'>ID</div>
            <div class='desc_value'>{{job.id}}</div>
        </div>
        <div class='desc_line'>
            <div class='desc_key'>Source</div>
            <div class='desc_value'><a href='{{info.source_link}}'>{{job.source.name}}/{{job.source.version}}</a></div>
        </div>
        {% if job.binary %}
            <div class='desc_line'>
                <div class='desc_key'>Binary</div>
                <div class='desc_value'>
                    {% if info.binary_link %}
                        <a href='{{info.binary_link}}'>{{job.binary.name}}/{{job.binary.version}}</a>
                    {% else %}
                        {{job.binary.name}}/{{job.binary.version}}
                    {% endif %}
                </div>
            </div>
        {% endif %}
        <div class='desc_line'>
            <div class='desc_key'>Job</div>
            <div class='desc_value'>{{job.name}}</div>
        </div>
        <div class='desc_line'>
            <div class='desc_key'>Group</div>
            <div class='desc_value'><a href='{{info.group_link}}'>{{job.group.name}}</a></div>
        <div>
        <div class='desc_line'>
            <div class='desc_key'>Suite</div>
            <div class='desc_value'>{{job.suite.name}}</div>
        </div>
        <div class='desc_line'>
            <div class='desc_key'>Component</div>
            <div class='desc_value'>{{job.component.name}}</div>
        </div>
        <div class='desc_line'>
            <div class='desc_key'>Check</div>
            <div class='desc_value'>{{job.check.name}}</div>
        </div>
        <div class='desc_line'>
            <div class='desc_key'>Architecture</div>
            <div class='desc_value'>{{job.arch.name}}</div>
        </div>
        {% if job.builder %}
            <div class='desc_line'>
                <div class='desc_key'>Builder</div>
                <div class='desc_value'><a href='{{info.builder_link}}'>{{job.builder.name}}</a></div>
            </div>
        {% endif %}
        {% if job.assigned_at %}
            <div class='desc_line'>
                <div class='desc_key'>Assigned</div>
                <div class='desc_value'>{{job.assigned_at|ago}}</div>
            </div>
        {% endif %}
        {% if job.finished_at %}
            <div class='desc_line'>
                <div class='desc_key'>Finished</div>
                <div class='desc_value'>{{job.finished_at|ago}}</div>
            </div>
        {% endif %}
        {% if info.job_runtime %}
            <div class='desc_line'>
                <div class='desc_key'>Build time</div>
                <div class='desc_value'>{{info.job_runtime}}</div>
            </div>
        {% endif %}
        <div class='desc_line'>
            <div class='desc_key'>Status</div>
            <div class='desc_value'>
                {% if job.finished_at %}
                    {% if job.check.build %}
                        {# Builds #}
                        {% if job.failed == None %}
                            ⧖ Upload Pending
                        {% elif job.failed %}
                            ✗ Failed
                        {% elif not job.built_binary %}
                            ⧖ Upload Pending
                        {% else %}
                            ✓ Uploaded
                        {% endif %}
                    {% else %}
                        {# Analyzers #}
                        {% if job.failed == None %}
                            ⧖ Upload Pending
                        {% elif job.failed %}
                            ✗ Errors found
                        {% else %}
                            ✓ No errors found
                        {% endif %}
                    {% endif %}
                {% elif job.assigned_at %}
                    ⧖ Building
                {% elif job.dose_report or job.depedencies %}
                    ∞ Dep-Wait
                {% else %}
                    ⌚ Needs-Build
                {% endif %}
            </div>
        </div>
    </div>

    {% for info in results_info %}
    <div class='block'>
        <h3>Result {{info.result.id}}</h3>
        <div class='desc_line'>
            <div class='desc_key'>Uploaded</div>
            <div class='desc_value'>{{info.result.uploaded_at|ago}}</div>
        </div>
        <div class='desc_line'>
            <div class='desc_key'>Job dud</div>
            <div class='desc_value'><a href='{{info.result.url}}/{{info.dud_name}}'>{{info.dud_name}}</a></div>
        </div>
        <div class='desc_line'>
            <div class='desc_key'>Job Log</div>
            <div class='desc_value'><a href='{{info.result.url}}/{{info.log_name}}'>{{info.log_name}}</a></div>
        </div>
        <div class='desc_line'>
            <div class='desc_key'>Firehose Report</div>
            <div class='desc_value'><a href='{{info.result.url}}/{{info.firehose_name}}'>{{info.firehose_name}}</a></div>
        </div>
        {% if info.files %}
            <div class='desc_line'>
                <div class='desc_key'>Additional Files</div>
                <div class='desc_value'>
                    {% for file in info.files %}
                        <a href='{{info.result.url}}/{{file}}'>{{file}}</a><br />
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
    {% endfor %}

    {% if job.built_binaries %}
    <div class='block'>
        <h3>Binary packages</h3>
        {% for binary in job.built_binaries %}
            <div class='desc_line'>
                <div class='desc_key'>Uploaded</div>
                <div class='desc_value'>{{binary.uploaded_at|ago}}</div>
            </div>
            <div class='desc_line'>
                <div class='desc_key'>Binary packages</div>
                <div class='desc_value'>
                    {% for deb in jbinary.debs %}
                        <a href='{{deb.url}}'>{{deb.filename}}</a><br />
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
    {% endif %}

{% endblock %}
