    <table>
        <tr>
            <th>Source</th>
            <th>Job</th>
            <th>Group<br />Suite</th>
            <th>Builder</th>
            <th>Status</th>
        </tr>

{% for info in jobs_info %}
        <tr class='job {{info.status}}'>
            <td>
                {% if info.source_link %}
                    <a href='{{info.source_link}}'>{{info.job.source.name}}/&#x200B;{{info.job.source.version}}</a>
                {% else %}
                    {{info.job.source.name}}/&#x200B;{{info.job.source.version}}
                {% endif %}
            </td>
            <td>
                <a href = '{{info.job_link}}' >{{info.job.name}}</a>
            </td>
            <td>
                {% if info.group_link %}
                    <a href='{{info.group_link}}'>{{info.job.group.name}}</a>
                {% else %}
                    {{info.job.group.name}}
                {% endif %}
                <br />
                {{info.job.suite.name}}
            </td>
            <td>
                {% if info.builder_link %}
                    <a href = '{{info.builder_link}}' >{{info.job.builder.name}}</a>
                {% elif info.job.builder %}
                    {{info.job.builder.name}}
                {% else %}
                    Not-Assigned
                {% endif %}
            </td>
            <td>
                {% if info.job.finished_at %}
                    {% if info.job.check.build %}
                        {# Builds #}
                        {% if info.job.failed %}Failed{% else %}Uploaded{% endif %}
                    {% else %}
                        {# Analyzers #}
                        {% if info.job.failed %}✗ Errors found{% else %}✓ No errors found{% endif %}
                    {% endif %}
                {% else %}
                    Needs-Build
                {% endif %}
            </td>
        </tr>
{% endfor %}

    </table>
