    <table class = 'zebra'>
        <tr>
            <th>Source Package</th>
            <th>Type</th>
            <th>Arch</th>
            <th>Suite</th>
            <th>Assigned</th>
            <th>Builder</th>
        </tr>
{% for jobinfo in active_jobs_info %}
        <tr>
            <td>
                <a href = '{{jobinfo.package_link}}' >{{jobinfo.job.package.name}}</a><br />{{jobinfo.job.package.version}}
            </td>
            <td>{{jobinfo.job.type}}{% if jobinfo.job.subtype %}/{{jobinfo.job.subtype}}{% endif %}</td>
            <td>{{jobinfo.job.arch}}</td>
            <td>{{jobinfo.job.suite}}</td>
            <td>{{jobinfo.job.assigned_at|ago}}</td>
            <td>
                {% if jobinfo.job.machine %}
                <a href = '{{jobinfo.machine_link}}' >{{jobinfo.job.machine.name}}</a>
                {% else %}
                <em>not assigned</em>
                {% endif %}
            </td>
        </tr>
{% endfor %}
    </table>
