    <table class = 'zebra'>
        <tr>
            <th>Name</th>
            <th>Last ping</th>
            <th>Jobs</th>
        </tr>
{% for machine in machines %}
        <tr>
            <td><a href = '/machine/{{machine.name}}' >{{machine.name}}</a></td>
            <td>{{machine.last_ping|ago}}</td>
            <td>
                {% for job in machine.jobs%}
				{% if not job.finished_at %}
                    <a href = '/report/{{job.id}}' >{{job.type}}</a>
				{% endif %}
                {% endfor %}
            </td>
        </tr>
{% endfor %}
    </table>

