    <table>
        <tr>
            <th>Type</th>
            <th>Version</th>
            <th>Machine</th>
            <th>Results</th>
        </tr>
{% set typebuild = '' %}

{% for jobinfo in jobinfolist %}
{# Add an empty line between the normal build + static analyzers #}
{% if typebuildprev == "build" and typebuildprev != jobinfo.job.type %}<tr><td colspan="4">&nbsp;</td></tr>{% endif %}

        <tr class='job {% if jobinfo.job.is_finished() %}{% if jobinfo.job.failed %}failed{% else %}success{% endif %}{% endif %}'>
            <td>
                {% if jobinfo.job.is_finished() %}
                    <a href = '{{jobinfo.job_link}}' >{{jobinfo.job.type}}{% if jobinfo.job.subtype %}/{{jobinfo.job.subtype}}{% endif %}</a> <em>({{jobinfo.job.arch}})</em>
                {% else %}
                {{jobinfo.job.type}}{% if jobinfo.job.subtype %}/{{jobinfo.job.subtype}}{% endif %} <em>({{jobinfo.job.arch}})</em>
                {% endif %}
            </td>
            <td>{{package.version}}</td>
            <td>
                {% if jobinfo.job.machine %}
                <a href = '{{jobinfo.job_machine_link}}' >{{jobinfo.job.machine.name}}</a>
				{% else %}
				not assigned yet
                {% endif %}
            </td>
            <td>{% if jobinfo.job.is_finished() %}
	      {% if jobinfo.job.type == "build" %} {# Build of the package package #}
	          {% if jobinfo.job.failed %}Failed{% else %}Uploaded{% endif %}
	      {% else %} {# Analyzers #}
                  {% if jobinfo.job.failed %}<a href='{{jobinfo.job_link}}#full_log'>✗ Errors found</a>{% else %}✓ Nothing found{% endif %}
	      {% endif %}
	      {% else %}
	      Needs-Build
	      {% endif %}
	    </td>

{% set typebuildprev = jobinfo.job.type %}

        </tr>
{% endfor %}
{% if jobinfolist|length == 0 %}
        <tr class='emptymessage'>
			<td colspan='4'>
				{{emptymessage}}
			</td>
		</tr>
{% endif %}
    </table>
