{% extends "base.html" %}

{% block title %}Report for job id={{job_info.job.id}}{% endblock %}

{% block content %}
{% if job_info.job.package.type == 'binary' %}
{% include 'report_desc_binary.html' %}
{% else %}
{% include 'report_desc_source.html' %}
{% endif %}

{% if job_info.job.failed %}
    <div class='block'>
	<h2>This job failed, check the reports and file/fix potential bugs.</h2>
    </div>
    {% if scanbuild_link %}
    <div class='block'>
		<h3>Scan-build output</h3>
        <div class='desc_line'>
            <div class='desc_key'>HTML formatted</div>
            <div class='desc_value'><a href='{{scanbuild_link}}'>see report</a></div>
        </div>
    </div>
    {% endif %}
{% else %}
    <div class='block'>
	<h2>This job succeeded. No results have been found.</h2>
    </div>
{% endif %}

<h1>Full Log</h1>
<pre>
{% for line in log %}{{line}}{% endfor %}</pre>
{% endblock %}
