    <table class = 'zebra'>
        <tr>
            <th>Type</th>
            <th>Status</th>
            <th>Results</th>
        </tr>
{% for jobinfo in jobinfolist %}
        <tr class='job {{jobinfo.status}}'>
            <td>
                <a href = '{{jobinfo.job_link}}' >{{jobinfo.job.type}}</a>
            </td>
            <td>{{jobinfo.status}}</td>
            <td>
                {% if jobinfo.job.machine %}
                <a href = '{{jobinfo.job_machine_link}}' >{{job.machine.name}}</a>
                {% endif %}
            </td>
            <td>TODO</td>
        </tr>
{% endfor %}
    </table>
