  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
  <link rel="stylesheet" type="text/css" href="/static/css/jquery-ui.css">

  <script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
  </script>

 <script type="text/javascript">
  $(function() {
  $( "#source" ).autocomplete({
    source: function( request, response ) {
        $.getJSON($SCRIPT_ROOT + "/_search_source", {
          search: request
        }, response);
    },
    select: function(event, ui) { 
      $("#source").val(ui.item.label);
      $("#searchSourceForm").submit(); }
  })
  });

  $(function() {
  $( "#maintainer" ).autocomplete({
    source: function( request, response ) {
        $.getJSON($SCRIPT_ROOT + "/_search_maintainer", {
          search: request
        }, response);
    },
    select: function(event, ui) {
      $("#maintainer").val(ui.item.label);
      $("#searchMaintainerForm").submit(); }
  })
  });

  </script>

  <style>
  .ui-autocomplete-loading {
    background: white url('/static/imgs/ui-anim_basic_16x16.gif') right center no-repeat;
  }
  </style> 

<table><tr><td>By source</td><td>
<form id="searchSourceForm" action="/source/search/" method="POST">
  <div class="ui-widget">{{form.source(size=20)}}
  <input type="submit" value="Search" /></div>
</form>
</td></tr>
<tr><td>By maintainer</td><td>
<form id="searchMaintainerForm" action="/maintainer/search/" method="POST">
  <div class="ui-widget">{{form.maintainer(size=20)}}
  <input type="submit" value="Search" />
 </div>
</form>
</td></tr>
</table>
