    <table class = 'zebra'>
        <tr>
            <th>What</th>
            <th>Group</th>
            <th>Uploader</th>
            <th>Status</th>
        </tr>
{% for source in sources %}
{% with owner = source.user %}
        <tr>
            <td>
                <a href = '/source/{{source.package_id}}' >
                    {{source.name}}/{{source.version}}
                </a>
            </td>
            <td>
                {% if source.group %}
                <a href = '/group/{{source.group}}' >
                    {{source.group.name}}
                </a>
                {% endif %}
            </td>
            <td>
                <a href = '/hacker/{{owner.id}}' >
                    {{owner.name}}
                </a>
            </td>
            <td>
            {% for jerb in source.jobs %}
                {% if jerb.is_pending() %}
                    {% if jerb.builder %}
                        ⧖
                    {% else %}
                        ⌚
                    {% endif %}
                {% else %}
                    {% if jerb.is_failed() %}
                        {% if jerb.is_critical() %}
                            ☹
                        {% else %}
                            ✗
                        {% endif %}
                    {% else %}
                        ✓
                    {% endif %}
                {% endif %}
            {% endfor %}
            </td>
        </tr>
{% endwith %}
{% endfor %}
    </table>
