    <table class = 'zebra'>
        <tr>
            <th>Source</th>
            <th>Group<br />Suite</th>
            <th>Uploader</th>
            <th>Status</th>
        </tr>

{% for info in sources_info %}
        <tr>
            <td>
                <a href='{{info.source_link}}'>{{info.source.name}}/&#8203;{{info.source.version}}</a>
            </td>
            <td>
                {% if info.group_link %}
                    <a href='{{info.group_link}}'>{{info.source.group.name}}</a>
                {% else %}
                    {{info.source.group.name}}
                {% endif %}
                <br />
                {{info.source.suite.name}}
            </td>
            <td>
                {% if info.upploader_link %}
                    <a href = '{{info.uploader_link}}' >{{info.source.uploader.name}}</a>
                {% else %}
                    {{info.source.uploader.name}}
                {% endif %}
            </td>
            <td>
                {% for job in info.source.jobs %}
                    {% if job.finished_at %}
                        {% if job.failed == None %}
                            ⧖
                        {% elif job.failed %}
                            ✗
                        {% elif job.check.build and not job.built_binary %}
                            ⧖
                        {% else %}
                            ✓
                        {% endif %}
                    {% elif job.assigned_at %}
                        ⧖
                    {% elif job.externally_blocked or job.depedencies %}
                        ∞
                    {% else %}
                        ⌚
                    {% endif %}
                {% endfor %}
            </td>
        </tr>
{% endfor %}

    </table>
