{% extends "base.html" %}

{% block title %}{{source.name}}/{{source.version}}{% endblock %}

{% block content %}

{% with total, unfinished = info.job_status %}
    <div class = 'box' >
        <div class = 'unfinished' >
            {{unfinished}}<span class = 'total' >/{{total}}</span>
        </div>
        <div class = 'element' >Remain</div>
    </div>
{% endwith %}

    <div class='block'>
        <h1>{{source.name}}/{{source.version}}</h1>
        <div class='desc_line'>
            <div class='desc_key'>ID</div>
            <div class='desc_value'>{{source.id}}</div>
        </div>
        <div class='desc_line'>
            <div class='desc_key'>Name</div>
            <div class='desc_value'>{{source.name}}</div>
        </div>
        <div class='desc_line'>
            <div class='desc_key'>Version</div>
            <div class='desc_value'>{{source.version}}</div>
        </div>
        <div class='desc_line'>
            <div class='desc_key'>Group</div>
            <div class='desc_value'><a href='{{info.group_link}}'>{{source.group.name}}</a></div>
        </div>
        <div class='desc_line'>
            <div class='desc_key'>Suite</div>
            <div class='desc_value'>{{source.suite.name}}</div>
        </div>
        <div class='desc_line'>
            <div class='desc_key'>Component</div>
            <div class='desc_value'>{{source.component.name}}</div>
        </div>
        <div class='desc_line'>
            <div class='desc_key'>Architectures</div>
            <div class='desc_value'>
                {% for arch in source.arches %}
                    {{arch.name}}
                {% endfor %}
            </div>
        </div>
        <div class='desc_line'>
            <div class='desc_key'>Uploader</div>
            <div class='desc_value'><a href='{{info.uploader_link}}'>{{source.uploader.name}}</a></div>
        </div>
    </div>

    <div class='block'>
        <h3>(Co-)Maintainers</h3>
        <div class='package_maintainers_menu'>
            {% for maintainer in source.maintainers %}
            <div class='package_maintainers_menu_element'>
                {{maintainer.name}} &lt;{{maintainer.email}}&gt;
            </div>
            {% endfor %}
        </div>
    </div>

    {% if versions_info %}
    <div class='block'>
        <h3>Other Versions</h3>
        <div class='package_versions_menu'>
            {% for version, link in versions_info %}
            <div class='package_versions_menu_element'>
                {% if version == source.version %}
                    {{version}}
                {% else %}
                    <a href='{{link}}'>{{version}}</a>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    <div class='block'>
        <h3>Jobs</h3>
        {% include "job_list_fragment.html" %}
    </div>

{% endblock %}
