{% extends "base.html" %}

{% block title %}Package {{package.name}}/{{package.version}}{% endblock %}

{% block content %}

{% with total, unfinished = package_job_status %}
    <div class = 'box' >
        <div class = 'unfinished' >
            {{unfinished}}<span class = 'total' >/{{total}}</span>
        </div>
        <div class = 'element' >Remain</div>
    </div>
{% endwith %}


    <h1>Package Report</h1>
    <div class='package_desc'>
        <div class='package_desc_line'>
            <div class='package_desc_key'>name</div>
            <div class='package_desc_value'>{{package.name}}</div>
        </div>
        <div class='package_desc_line'>
            <div class='package_desc_key'>version</div>
            <div class='package_desc_value'>{{package.version}}</div>
        </div>
        <div class='package_desc_line'>
            <div class='package_desc_key'>uploaded</div>
            <div class='package_desc_value'>by <a href='{{user_link}}'>{{package.user.name}}</a></div>
            {% endif %}
        </div>
    </div>

    {% if multiple_runs %}
    <h3>debuild.me runs</h3>
    <div class='package_runs'>
        {% if latest_run == package.run %}
        This is the latest run of debuild.me available for this package, but you can access previous runs :
        {% else %}
        This package version has been processed multiple times, see other runs :
        <div class='package_runs_menu'>
            {% for run, link in runs_info %}
            <div class='package_runs_menu_element'>
                <a href='{{link}}'>{{run}}{% if loop.last %} (latest){% endif %}</a>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    {% if multiple_versions %}
    <h3>Versions</h3>
    <div class='package_versions'>
        {% if latest_version == package.version %}
        This is the latest version of debuild.me available for this package, but you can access previous versions :
        {% else %}
        This package has been processed for multiple versions, see others :
        <div class='package_versions_menu'>
            {% for version, link in versions_info %}
            <div class='package_versions_menu_element'>
                <a href='{{link}}'>{{version}}{% if loop.last %} (latest){% endif %}</a>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    <h3>source jobs</h3>
    debuild.me launched these jobs on the source package provided
{% with joblist = source_jobs_info %}
    {% include "report_list_fragment.html" %}
{% endwith %}

    <h3>binary jobs</h3>
    debuild.me launched these jobs on the binaries uploaded after the build of the source package
{% with joblist = binaries_jobs_info %}
    {% include "report_list_fragment.html" %}
{% endwith %}

{% endblock %}
