    <table class = 'zebra'>
        <tr>
            <th>What</th>
            <th>Group</th>
            <th>Uploader</th>
            <th>Status</th>
        </tr>
{% for info in sources_info %}
        <tr>
            <td>
                <a href = '{{info.source_link}}' >
                    {{info.source.name}}/{{info.source.version}}{% if info.source.run > 1 %} - run {{info.source.run}}{% endif %}
                </a>
            </td>
            <td>
                {% if info.source.group %}
                <a href = '{{info.group_link}}' >
                    {{info.source.group.name}}
                </a>
                {% endif %}
            </td>
            <td>
                <a href = '{{info.user_link}}' >
                    {{info.source.user.name}}
                </a>
            </td>
            <td>
            {% for jerb in info.source.jobs %}
                {% if jerb.is_pending() %}
                    {% if jerb.builder %}
                        ⧖
                    {% else %}
                        ⌚
                    {% endif %}
                {% else %}
                    {% if jerb.failed %}
                        {% if jerb.is_critical() %}
                            ☹
                        {% else %}
                            ✗
                        {% endif %}
                    {% else %}
                        ✓
                    {% endif %}
                {% endif %}
            {% endfor %}
            </td>
        </tr>
{% endfor %}
    </table>
